</div>

<div class="col-sm-4 col-xs-12 sidebar">
        <div class="fb-page" data-href="https://www.facebook.com/{{ site.facebook }}/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/{{ site.facebook }}/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{ site.facebook }}/">{{ site.title }}</a></blockquote></div>
                                                                                                                </div>
</div>
</div>


<div class="footer-contact">
<div class="container">
<div class="row">
<div class="col-xs-12">
<h2>Contact Us</h2>
<p>Interested in joining as a cadet or an adult volunteer? Just have some questions? Send us a message below.</p>


<div>
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
<form id="element-" class="form" action="https://formspree.io/{{ site.email }}" method="POST" enctype="multipart/form-data" data-validation="on">

<section class="form-group row">
<div class="col-lg-6">
<section class="form-group">
<label for="element-first_name">First name</label>

<input id="element-first_name" type="text" class="form-control " name="first_name" value="" required>

</section>
</div>
<div class="col-lg-6">
<section class="form-group">
<label for="element-last_name">Last name</label>

<input id="element-last_name" type="text" class="form-control " name="last_name" value="" required>

</section>
</div>
</section>
<section class="form-group">
<label for="element-email">Email Address</label>

<input id="element-email" type="email" class="form-control " name="email" value="" required>

</section>
<section class="form-group">
<label for="element-phone">Phone Number</label>

<div class="controls">
<input id="element-phone" type="tel" class="phone form-control " name="phone" value=""  pattern="([0-9 ]+)">

</div>
</section>
<section class="form-group">
<label for="element-message">Message</label>

<textarea rows="4" id="element-message" class="form-control " name="message"  required></textarea>

</section>
<footer>
<button type="submit" class="btn ">
Submit
</button>
</footer>
</form>
</div>
</div>

</div>
</div>
</div>
</div>

<footer class="footer">
<div class="container">
<div class="row">
<div class="col-sm-3">
<h4>About The Squadron</h4>

<ul>
<li>
<a href="/who-we-are">Who we are</a>
</li>

<li>
<a href="/our-volunteers">Our volunteers</a>
</li>

<li>
<a href="https://www.facebook.com/pg/{{ site.facebook }}/posts/" target="_blank">Latest news</a>
</li>

<li>
<a href="https://www.facebook.com/pg/{{ site.facebook }}/events/" target="_blank">Upcoming events</a>
</li>
</ul>
</div>

<div class="col-sm-3">
<h4>Get involved!</h4>

<ul>
<li>
<a href="/join">Becoming a cadet</a>
</li>

<li>
<a href="/adult-volunteer">Adult Volunteer</a>
</li>

<li>
<a href="/easy-fundraising">Fundraising</a>
</li>
</ul>
</div>

<div class="col-sm-3">
<h4>Royal Air Force Air Cadets</h4>

<ul>
<li>
<a target="_blank" href="http://www.raf.mod.uk/aircadets/">Air Cadets Homepage</a>
</li>

<li>
<a target="_blank" href="http://www.raf.mod.uk/aircadets/news/">RAFAC News and Events</a>
</li>

<li>
<a target="_blank" href="http://www.raf.mod.uk/aircadets/who-we-are/history/">History of the RAFAC</a>
</li>

<li>
<a target="_blank" href="http://www.raf.mod.uk/">Royal Air Force Homepage</a>
</li>
</ul>
</div>

<div class="col-sm-3">
<p class="copyright">Copyright &copy; 2019, {{ site.sqn_number }} Sqn.</p>
<p class="info">
The Slaughter House<br>
Shrigley Road<br>
Bollington, Macclesfield<br>
Meets Monday and Thursday, 7PM.
</p>
<p class="raf-copyright">Air Cadets Logo, RAF Logo and some content
<br>&copy; Crown copyright 2019</p>
</div>
</div>


</div>
</footer>

</body>
</html>